<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.12" targetFramework="net462" />
  <package id="Yagasoft.Libraries.Common.File" version="6.1.1" targetFramework="net462" developmentDependency="true" />
</packages>